.c-table {

    width: 100%;
    color: $gray-light-text;
    overflow-y: auto;

    text-align: center;

    table {

        width: 100%;
        // min-width: 700px;

    }

    th {

        background-color: #262b2f;
        padding: 8px 16px;
        border-top: 1px solid rgb(21, 27, 34);
        border-bottom: 1px solid rgb(21, 27, 34);

    }

    td {
        padding: 16px;
    }

    &_column {
        // width: 100%;
    }

    &--rankings {

        table {
            text-align: left;
        }

        th {
            background-color: transparent;
            padding: 32px;
            border: none;
            text-align: right;
            @include font-family-bold;
            font-size: 20px;

             &:first-of-type {
                text-align: left;
            }
        }

        td {

            text-align: right;
            border-top: 1px solid rgb(21, 27, 34);
            border-bottom: 1px solid rgb(21, 27, 34);

            &:first-of-type {
                @include font-family-bold;
                text-align: left;
            }

        }

    }
}