.c-icon-band {

    $self: &;

    overflow: hidden;

    &_item {

        // cursor: pointer;
        color: $gray-mid;
        background-color: #202225;
        display: inline-block;
        border-radius: 1px solid $white;

        border: 1px solid $gray-mid;

        &:first-of-type {

            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

        }

        &:last-of-type {

            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

        }

        &:hover {

            color: $white;
            border: 1px solid $white;

        }

    }

    &_link {

        color: $gray-light;

        padding: 16px 12px 12px 12px;
        display: inline-block;

        &:hover {

            color: $white;

        }

    }

    &--collection {


        display: flex;
        align-items: center;
        justify-content: center;

        #{$self}_item {

            color: $white;
            width: 144px;
            height: 88px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border-color: rgb(21, 27, 34);

        }

    }

}