.collection {
    &-container {
        width: 1600px;
        max-width: 1600px;

        user-select: none;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin: 120px auto 0 auto;

        @include respond-to(desktop-max-large) {
            justify-content: center;
        }

        @include respond-to(desktop-high-large) {
            width: 100%;

            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            padding: 0 0 64px 0;
        }
    }

    &-details {
        width: 265px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @include respond-to(desktop-high-large) {
            width: 70%;
        }

        &_picture {
            width: 120px;
            height: 120px;

            border-radius: 60px;
        }

        &_title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            margin: 32px 0 0 0;

            span:nth-child(1) {
                font-size: 24px;
                font-weight: bold;
                line-height: 1.2;

                color: #fff;
            }

            span:nth-child(2) {
                font-size: 13px;
                line-height: 1.2;

                color: #8a939b;
            }
        }

        &_status {
            height: 32px;
            background: #2081e2;

            display: flex;
            justify-content: space-between;
            align-items: center;

            border-radius: 16px;
            color: #fff;

            padding: 0 16px;
            margin: 16px 0 0 0;

            span {
                font-size: 13px;

                margin: 0 0 0 8px;
            }
        }

        &_info {
            width: 80%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            margin: 32px 0 0 0;

            div {
                width: 100%;

                display: flex;
                justify-content: space-between;
                align-items: center;

                line-height: 1;

                margin: 16px 0 0 0;

                span:nth-child(1) {
                    color: #8a939b;
                }

                span:nth-child(2) {
                    font-weight: bold;

                    display: flex;

                    img {
                        margin: 0 8px 0 0;
                    }
                }
            }
        }

        &_controllers {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 64px 0 0 0;

            @include respond-to(desktop-high-large) {
                width: 80%;
            }

            button {
                width: 120px;
                height: 40px;
                background: none;

                display: flex;
                justify-content: center;
                align-items: center;

                color: #fff;

                font-size: 16px;

                border-radius: 8px;
                border: 4px solid #303339;
                cursor: pointer;
            }

            &--active {
                background: #2081e2 !important;
                border: none !important;
            }
        }

        &_mint {
            width: 100%;
            height: 60px;

            background: #2081e2;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #fff;

            border-radius: 8px;
            border: none;

            margin: 24px 0 0 0;

            @include respond-to(desktop-high-large) {
                width: 80%;
            }
        }

        &_socials {
            width: 70%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 24px 0 0 0;

            a {
                padding: 0;
            }

            span {
                width: 32px;
                height: 32px;

                background: #8a939b;
                color: #303339;

                border-radius: 24px;
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    &-main {
        width: 910px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @include respond-to(desktop-max-large) {
            width: 790px;
            margin: 0 48px;
        }

        @include respond-to(desktop-high-large) {
            width: 100%;
            order: 3;
        }

        &_banner {
            width: 100%;
            height: 220px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            border-radius: 8px;

            @include respond-to(desktop-high-large) {
                display: none;
            }
        }

        &_content {
            height: 100%;
            max-width: 864px;

            background: #303339;
            position: fixed;

            transition: 2s;
            z-index: 9;

            border-radius: 8px 8px 0 0;

            @include respond-to(desktop-high-large) {
                width: 100% !important;
                top: 64px !important;
                padding: 0 0 40px 0;
                border-radius: 8px;
                position: relative;
            }
        }

        &_tokens {
            width: 100%;

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));

            &--loadMore {
                width: 240px;
                height: 320px;

                background: rgb(32 34 37 / 51%);
                backdrop-filter: blur(7px);

                color: #fff;

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 8px;
                cursor: pointer;

                padding: 32px 48px;

                @include respond-to(desktop-high-large) {
                    width: 97%;
                }

                span {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1;
                }

                &:hover {
                    opacity: 0.9;
                }
            }
        }

        &_noTokens {
            width: 100%;

            display: grid;
            justify-content: center;
            align-content: center;
        }

        &_token {
            width: 240px;
            height: 320px;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            border-radius: 8px;
            cursor: pointer;

            margin: 0 0 16px 0;

            @include respond-to(desktop-max-large) {
                width: 97%;
            }

            &:hover {
                div {
                    height: 160px;

                    button {
                        width: 80px;
                        height: 32px;
                        opacity: 1;
                    }
                }
            }

            div {
                width: 100%;
                height: 100px;

                background-color: rgba(48, 51, 57, 0.5);
                backdrop-filter: blur(7px);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                border-radius: 8px;

                transition: 0.5s;

                span:nth-child(1) {
                    font-weight: bold;
                }

                span:nth-child(2) {
                    font-size: 13px;
                    font-weight: bold;

                    display: flex;
                    align-items: center;

                    margin: 8px 0 0 0;

                    span {
                        font-weight: normal !important;
                        margin: 0 0 0 4px;
                    }
                    img {
                        height: 16px;
                        width: 16px;
                        margin: 0 8px 0 0;
                    }
                    p {
                        padding: 4px 8px;
                        border-radius: 8px;
                        background: #2081e2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 13px;
                        margin: 0 8px;
                        line-height: 1;
                    }
                }

                button {
                    width: 0px;
                    height: 0px;
                    background: #2081e2;

                    border: none;
                    border-radius: 16px;

                    opacity: 0;
                    transition: 1s;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin: 12px 0 0 0;
                }
            }
        }

        &_overlay {
            max-width: 864px;
            height: 170px;

            background-image: linear-gradient(to bottom, #00000000, #000000);

            display: flex;
            justify-content: center;
            align-items: center;

            transition: 2s;

            position: fixed;
            z-index: 99;

            @include respond-to(desktop-high-large) {
                display: none;
            }

            a {
                width: 48px;
                height: 48px;

                background: #fff;
                box-shadow: 0px 33px 66px #00000046;

                color: #2081e2;

                border-radius: 16px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 0 0 0 16px;
            }

            button {
                width: 48px;
                height: 48px;

                background: #fff;
                box-shadow: 0px 33px 66px #00000046;

                color: #2081e2;

                border-radius: 16px;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            span {
                height: 48px;

                background: #2081e2;
                box-shadow: 0px 33px 66px #00000046;

                cursor: pointer;
                border-radius: 24px;

                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0 24px;
                margin: 0 16px 0 0;
            }
        }
    }

    &-filters {
        width: 265px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @include respond-to(desktop-high-large) {
            margin: 64px 0 0 0;
        }

        &_result {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            line-height: 1;

            span:nth-child(1) {
                font-weight: bold;
                font-size: 48px;

                color: #fff;
            }

            span:nth-child(2) {
                font-size: 16px;

                color: #8a939b;
            }
        }

        &_searchBox {
            width: 100%;
            height: 48px;

            background: #303339;

            display: flex;
            align-items: center;

            border-radius: 8px;
            outline: 0;

            padding: 0 24px;
            margin: 40px 0 0 0;
        }

        &_sort {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            margin: 32px 0 0 0;

            &--controllers {
                width: 100%;

                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    width: 120px;
                    height: 40px;
                    background: none;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: #fff;

                    font-size: 16px;

                    border-radius: 8px;
                    border: 4px solid #303339;
                    cursor: pointer;
                }

                &--active {
                    background: #2081e2 !important;
                    border: none !important;
                }
            }
        }

        &_activities {
            width: 100%;
            height: 260px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            margin: 20px 0 0 0;

            @include respond-to(desktop-high-large) {
                display: none;
            }

            &--item {
                width: 100%;

                display: flex;
                align-items: center;

                margin: 24px 0 0 0;

                span:nth-child(1) {
                    color: #8a939b;
                }

                img {
                    width: 40px;
                    height: 40px;

                    border-radius: 8px;

                    margin: 0 0 0 32px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    line-height: 1.1;

                    margin: 0 0 0 16px;

                    span:nth-child(1) {
                        font-weight: bold;
                        color: #fff;
                    }

                    span:nth-child(2) {
                        font-size: 13px;
                        color: #8a939b;
                    }
                }
            }
        }

        &_explorer {
            width: 100%;
            height: 60px;

            background: #2081e2;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #fff;

            border-radius: 8px;
            border: none;

            margin: 32px 0 0 0;

            @include respond-to(desktop-high-large) {
                display: none;
            }

            span {
                margin: 0 8px 0 0;
            }
        }

        &_modalButton {
            width: 100%;
            height: 60px;

            background: #2081e2;

            display: none;
            justify-content: center;
            align-items: center;

            color: #fff;

            border-radius: 8px;
            border: none;

            margin: 32px 0 0 0;

            @include respond-to(desktop-high-large) {
                display: flex;
            }

            span {
                margin: 0 8px 0 0;
            }
        }
    }

    &-modal {
        &_traits {
            width: 33%;

            background: #202224;
            border-radius: 8px;

            position: absolute;
            z-index: 100000;

            padding: 40px 64px 64px 64px;

            @include respond-to(desktop-max-large) {
                width: 50%;
            }

            @include respond-to(mobile) {
                width: 80%;
                padding: 40px;
            }

            &--title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                color: #fff;

                span:nth-child(1) {
                    font-weight: bold;
                    font-size: 24px;
                }

                span:nth-child(2) {
                    width: 32px;
                    height: 32px;

                    background: #303339;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 24px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                div {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                button {
                    width: 80px;
                    height: 32px;

                    background: #2081e2;
                    border-radius: 24px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: #fff;
                    cursor: pointer;

                    margin: 0 12px 0 0;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            &--content {
                width: 100%;
                height: 100%;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                margin: 40px 0 0 0;

                span {
                    margin: 0 0 24px 0;
                }

                @include respond-to(desktop-high-large) {
                    justify-content: center;
                }
            }
        }

        &_mint {
            width: 33%;

            background: #202224;
            border-radius: 8px;

            position: absolute;
            z-index: 100000;

            padding: 40px 64px 64px 64px;

            @include respond-to(desktop-high-large) {
                width: 50%;
            }

            @include respond-to(mobile) {
                width: 90%;
            }

            &--title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                color: #fff;

                span:nth-child(1) {
                    font-weight: bold;
                    font-size: 24px;
                }

                span:nth-child(2) {
                    width: 32px;
                    height: 32px;

                    background: #303339;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 24px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            &--content {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                margin: 40px 0 0 0;

                span:nth-child(1) {
                    font-weight: bold;
                }

                span:nth-child(2) {
                    color: #8a939b;
                    font-size: 13px;
                }

                input {
                    width: 240px;
                    height: 48px;

                    background: #303339;
                    color: #fff;
                    text-align: center;
                    border-radius: 8px;
                    outline: 0;

                    font-weight: bold;
                    font-size: 24px;

                    margin: 16px 0;
                    padding: 4px 8px;
                }

                span:nth-child(4) {
                    color: #8a939b;
                    font-size: 13px;
                }

                button {
                    height: 48px;

                    background: #2081e2;
                    box-shadow: 0px 33px 66px #00000046;

                    color: #fff;

                    border-radius: 16px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin: 16px 0 0 0;
                    padding: 0 16px;
                }

                &_info {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin: 32px 0 0 0;

                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;

                        margin: 0 16px;

                        span:nth-child(1) {
                            font-size: 24px;
                            line-height: 1;
                            font-weight: bold;
                        }

                        span:nth-child(2) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    &-overlay {
        width: 100%;
        height: 100%;

        position: fixed;
        background: #000000d1;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 10000;
        top: 0px;
    }

    &-tooltip {
        width: 240px;
    }
}
