.u-visually-hidden {
    position: absolute !important; // sass-lint:disable-line no-important
    left: -99999px;
    top: -99999px;
}

.u-hidden {
    display: none !important; // sass-lint:disable-line no-important
}

.u-js-hidden {
    display: none !important; // sass-lint:disable-line no-important
}

.u-no-decoration {
    text-decoration: none;
}

//fonts
.u-text-lead {
    @include lead-text(false);
}

.u-text-standard {
    @include standard-text;
}

.u-text-small {
    @include small-text(false);
}

.u-heading-lead {
    @include lead-heading;
}

.u-small-heading {
    @include small-heading;
}

.u-regular-heading {
    @include regular-heading(false);
}

.u-text-bold {
    @include font-family-bold;
}

.u-text-normal {
    @include font-family-regular;
}

.u-relative {
    position: relative;
}

.u-tac {
    text-align: center;
}

.u-overflow-hidden {
    overflow: hidden;
}


.u-hidden-mobile-block {

    display: none;

    @include respond-to(tablet) {

        display: block;

    }

}

.u-hidden-tablet-block {

    display: none;

    @include respond-to(desktop) {

        display: block;

    }

}

.u-hidden-desktop-block {

    display: block;


    @include respond-to(desktop) {


        display: none;

    }

}

.u-hidden-mobile-inline-block {

    display: none;

    @include respond-to(tablet) {

        display: inline-block;

    }

}


.u-hidden-mobile-inline-block {

    display: none;

    @include respond-to(tablet) {

        display: inline-block;

    }

}


.u-display-mobile-inline-block {

    display: inline-block;

    @include respond-to(tablet) {

        display: none;

    }

}