$white: rgb(255, 255, 255);
$black: rgba(0, 0, 0, 1);
$gray: rgb(32, 34, 37);
$gray-light: rgb(229, 232, 235);
$gray-mid: rgb(138, 147, 155);
$details-section: rgb(48, 51, 57);
$gray-light-text: #e5e8eb;

$link-color: rgb(32, 129, 226);
$link-color-hover: rgb(38, 147, 255);

$white-rgb: 255, 255, 255;
$black-rgb: 0, 0, 0;
$gray-light-rgb: 138, 147, 155;

$dark-blue: #04111d;


