@use "sass:math";

$spacing-point-0: 0;
$spacing-point-1: 4px;
$spacing-point-2: 8px;
$spacing-point-3: 16px;
$spacing-point-4: 24px;
$spacing-point-5: 32px;
$spacing-point-6: 40px;
$spacing-point-7: 48px;
$spacing-point-8: 56px;
$spacing-point-9: 64px;
$spacing-point-10: 72px;
$spacing-point-11: 80px;
$spacing-point-12: 88px;
$spacing-point-13: 96px;





$base-dimension-unit: 8px;
$base-dimension-unit-half: math.div($base-dimension-unit, 2);
$base-dimension-unit-quarter: math.div($base-dimension-unit, 4);

$spacer-xsm: $base-dimension-unit * 2;
$spacer-sm: $base-dimension-unit * 3;
$spacer-rg: $base-dimension-unit * 4;
$spacer-md: $base-dimension-unit * 6;
$spacer-lg: $base-dimension-unit * 12;
$spacer-xl: $base-dimension-unit * 24;
