
// Heading sizes
$h1-line-height: 56px;
$h1-font-size: 48px;

$h2-line-height: 40px;
$h2-font-size: 32px;

$h3-line-height: 31px;
$h3-font-size: 24px;

$h4-line-height: 32px;
$h4-font-size: 22px;

$h5-line-height: 28px;
$h5-font-size: 19px;

$h6-line-height: 28px;
$h6-font-size: 19px;

$base-font-line-height: 28px;
$base-font-size: 19px;
$base-font-margin-bottom: 24px;

$lead-text-line-height: 32px;
$lead-text-size: 24px;
$lead-text-margin-bottom: 32px;

$small-text-line-height: 20px;
$small-text-size: 12px;
$small-text-margin-bottom: 20px;

$large-text-line-height: 24px;
$large-text: 16px;
