.p-homepage {

    // min-width: 100vw;
    // min-height: 100vh;

    // background-color: var(--t-background-color);

    &_lead-background {

        background-size: cover;
        background-color: rgb(32, 34, 37);
        background-position: center center;
        opacity: 0.3;
        filter: blur(8px);
        -webkit-mask: linear-gradient(rgb(255, 255, 255), transparent);
        position: absolute;
        width: 100vw;
        height: 50vh;
        top: 0;
        z-index: 4;
        background-image: url('../../../img/collections/ergo-esse-natura/the-bird-catchers.jpg');
        
    }

    &_lead-container {

        position: relative;
        z-index: 8;

    }

}