.p-homepage {

    // min-width: 100vw;
    // min-height: 100vh;

    // background-color: var(--t-background-color);


    text-align: center;
    
    @include respond-to(desktop) {
    
        text-align: left;

    }

    &_lead-background {

        background-size: cover;
        background-color: rgb(32, 34, 37);
        background-position: center center;
        opacity: 0.3;
        filter: blur(8px);
        -webkit-mask: linear-gradient(rgb(255, 255, 255), transparent);
        position: absolute;
        width: 100vw;
        height: 50vh;
        top: 0;
        z-index: 4;

        // background-image: url('https://erdsea.com/image/PIGSEL-91e91b.cover');
        background-image: url('../../../img/Background.jpg');
    }

    &_lead-container {

        position: relative;
        z-index: 8;

    }

}