.c-card {

    $self: &;

    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #303339;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px 0px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px 0px;
    }

    &_img-container {
        display: flex;
        justify-content: center;
    }

    &_img {
        width: 100%;
        height: 100%;
    }

    &_info {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: $spacing-point-3;
        justify-content: space-between;

    }

    &_token-details {

        width: 60%;

    }

    &_price {

        width: 40%;
        text-align: right;

    }

    &_creator-avatar {

        width: 40px;
        height: 40px;
        margin-right: $spacing-point-3;
        border-radius: 25px;

    }

    &_title {

        @include small-text(false);
        @include font-family-regular;
    }

    &_collection-name {
        @include small-text(false);
        @include font-family-regular;
    }

    &--homepage-feature {
        max-width: 550px;

        #{$self}_info {

            display: flex;
            align-items: center;
            justify-content: start;
        }

    }

}