.c-property {


    color: $white;
    display: inline-block;
    text-align: center;
    background-color: rgba(21, 178, 229, 0.06);
    padding: $spacing-point-3;
    margin: $spacing-point-2;

    // border: 1px solid $white;
    border-radius: 6px;

    border: 1px solid rgb(21, 178, 229);

    min-width: 120px;
    max-width: 160px;

    width: 100%;



    &_type,
    &_value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &_type {

        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: $spacing-point-1;
    }



    &_value {

        @include font-family-bold;
        margin-bottom: $spacing-point-1;
        font-size: 15px;



    }

    &_rarity {

        margin-bottom: $spacing-point-1;
        font-size: 12px;
        color: $gray-mid;

    }

    &_rarity_message {
        @include font-family-bold;
        text-align: center;
        color: $white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;  
        font-size: 14px;     
    }
}