.c-wallet-sidebar {

    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;


    &_container {

        position: relative;
        z-index: 8;
        width: 350px;
        background-color: #202225;
        height: 100%;

    }

    &_overlay {

        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

    }

}