.c-wallet-sidebar {

    height: calc(100% - 77px);
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 16;

    &_container {

        position: relative;
        z-index: 8;
        width: 24vw;
        background-color: #202225;
        height: 100%;

        text-align: center;
        padding: $spacing-point-5 $spacing-point-2;

    }

    &_overlay {

        width: 75vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

    }

}