
h1 {
    line-height: $h1-line-height-mobile;
    font-size: $h1-font-size-mobile;
    margin-bottom: $spacing-point-6;

    @include respond-to(desktop) {
        line-height: $h1-line-height-desktop;
        font-size: $h1-font-size-desktop;
        margin-bottom: $spacing-point-7;
    }
}

h2 {
    line-height: $h2-line-height-mobile;
    font-size: $h2-font-size-mobile;

    @include respond-to(desktop) {
        line-height: $h2-line-height-desktop;
        font-size: $h2-font-size-desktop;
    }
}

h3 {
    line-height: $h3-line-height-mobile;
    font-size: $h3-font-size-mobile;

    @include respond-to(desktop) {
        line-height: $h3-line-height-desktop;
        font-size: $h3-font-size-desktop;
    }
}

h4 {
    line-height: $h4-line-height-mobile;
    font-size: $h4-font-size-mobile;

    @include respond-to(desktop) {
        line-height: $h4-line-height-desktop;
        font-size: $h4-font-size-desktop;
    }
}

h5 {
    line-height: $h5-line-height-mobile;
    font-size: $h5-font-size-mobile;

    @include respond-to(desktop) {
        line-height: $h5-line-height-desktop;
        font-size: $h5-font-size-desktop;
    }
}

h6 {
    line-height: $h6-line-height-mobile;
    font-size: $h6-font-size-mobile;

    @include respond-to(desktop) {
        line-height: $h6-line-height-desktop;
        font-size: $h6-font-size-desktop;
    }
}

p {
    @include standard-text;
}

a {
    @include standard-text;
    text-decoration: none;
}
