h1 {
    line-height: $h1-line-height-mobile;
    font-size: $h1-font-size-mobile;
    margin-bottom: $nhsuk-spacing-point-6;
}

h2 {
    line-height: $h2-line-height-mobile;
    font-size: $h2-font-size-mobile;
}

h3 {
    line-height: $h3-line-height-mobile;
    font-size: $h3-font-size-mobile;
}

h4 {
    line-height: $h4-line-height-mobile;
    font-size: $h4-font-size-mobile;
}

h5 {
    line-height: $h5-line-height-mobile;
    font-size: $h5-font-size-mobile;
}

h6 {
    line-height: $h6-line-height-mobile;
    font-size: $h6-font-size-mobile;
}
