.explorer {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin: 90px 160px 0 160px;
    }

    &-filterBox {
        width: 360px;

        &__title {
            font-size: 85px;
            font-weight: bold;
            color: #fff;
        }

        &__filters {
            width: 100%;

            display: flex;
            flex-wrap: wrap;

            margin: 40px 0 0 0;

            div {
                display: flex;

                margin: 0 16px 16px 0;

                button {
                    background: #04111d;

                    border: none;
                    border-radius: 8px;
                    color: #fff;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-size: 16px;
                    font-weight: bold;

                    padding: 8px 24px;
                }

                span {
                    width: 22px;
                    height: 22px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 32px;

                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1;

                    position: absolute;
                    margin: -6px 0 0 -6px;
                }
            }
        }

        &__info {
            width: 360px;
            height: 270px;
            background: #04111d;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 10px;

            margin: 64px 0 0 0;

            div:nth-child(1) {
                display: flex;
                flex-direction: column;
                align-items: center;

                span:nth-child(1) {
                    font-size: 48px;
                    font-weight: bold;
                    line-height: 1;
                }

                span:nth-child(2) {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1;
                }

                span:nth-child(3) {
                    font-size: 16px;
                    font-weight: normal;
                    color: #8a939b;
                }
            }

            div:nth-child(2) {
                width: 80px;
                height: 80px;

                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;

                background: #2081e2;
                border-radius: 160px;

                margin: 270px 0 0 0;

                position: absolute;
            }
        }
    }

    &-contentBox {
        width: 1080px;

        &__content {
            width: 320px;

            background: #303339;

            display: flex;
            flex-direction: column;
            align-items: center;

            border-radius: 16px;

            &--image {
                height: 100%;
                width: 100%;

                display: flex;
                justify-content: flex-start;
                align-items: flex-end;

                border-radius: 16px;

                padding: 16px 24px;

                div {
                    width: 110px;
                    height: 32px;
                    background: #04111dd7;

                    color: #fff;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 64px;

                    span {
                        font-size: 16px;
                        font-weight: bold;

                        color: #fff;

                        span {
                            font-weight: normal;
                        }
                    }
                }
            }

            &--details {
                width: 100%;
                height: 120px;

                display: flex;
                justify-content: space-between;
                align-items: center;

                padding: 0 24px;

                img {
                    width: 40px;
                    height: 40px;

                    border-radius: 64px;
                }

                div:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    span:nth-child(1) {
                        font-weight: bold;
                        font-size: 16px;
                        color: #fff;
                        line-height: 1;
                    }

                    span:nth-child(2) {
                        font-weight: normal;
                        font-size: 13px;
                        color: #2081e2;
                        line-height: 1;
                    }
                }

                div:nth-child(3) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    color: #fff;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 1;

                    span:nth-child(2) {
                        font-size: 16px;
                        color: #fff;
                        font-weight: bold;
                        line-height: 1;
                    }
                }
            }
        }
    }
}
